.app-block {
    box-shadow: var(--shadow-block);
    border-radius: var(--radius-xs);
    margin-bottom: var(--spacing-lg);
    border: 1px solid var(--line-base);
    background: var(--bg-light);
    overflow: hidden;

    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        margin: 0;

        @media (min-width: $screen-md) {
            font-size: 24px;
        }
    }

    &__header {
        background: var(--bg-light);
        padding: var(--spacing-lg) var(--spacing-xl);
    }

    &__body {
        background: var(--bg-neutral);
        padding: var(--spacing-md) var(--spacing-xl);
        border-top: 1px solid var(--line-base);
    }

    &__footer {
        background: var(--bg-info);
        padding: var(--spacing-lg) var(--spacing-xl);
        border-top: 1px solid var(--line-base);
    }
}
