.app-form-control {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    border: 1px solid var(--line-secondary);
    background: var(--bg-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--spacing-xs);
    color: var(--text-primary);
    transition: var(--transiton-general);

    &:focus {
        border-color: var(--line-accent);
        box-shadow: 0 0 0 1px var(--line-accent);
    }

    &:placeholder {
        color: var(--text-neutral);
    }
}

.app-form-field {
    padding: 0;
    margin: 0;
    border: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: var(--spacing-lg);

    &__label {
        display: inline-block;
        vertical-align: top;
        margin-bottom: var(--spacing-xs);
        word-break: break-all;
    }

    &__content-info {
        min-width: 38px;
    }

    &__content--row {
        display: flex;
        align-items: center;

        > * + * {
            margin-left: var(--spacing-lg);
        }

        .app-custom-select {
            min-width: 81px;
        }
    }

    &--row {
        @media (min-width: $screen-md) {
            display: flex;
            align-items: flex-start;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--row &__content {
        flex: 1;
        min-width: 0;
    }

    &--row &__label {
        @media (min-width: $screen-md) {
            flex: 0 0 151px;
            text-align: right;
            margin-right: var(--spacing-md);
            margin-top: var(--spacing-xs);
        }
    }

    &--row &__label--top {
        @media (min-width: $screen-md) {
            margin-top: 0;
        }
    }

    &--items-center {
        @media (min-width: $screen-md) {
            align-items: center;
        }
    }

    &--radio {
        display: flex;
        align-items: center;
        margin-bottom: 18.5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--ppf {
        margin-bottom: 8px;
    }
}

.app-custom-select {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-primary);
    display: block;
    max-width: 100%;

    select {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
    }

    select:focus + &__value {
        box-shadow: 0 0 0 1px var(--line-accent);
        border-color: var(--line-accent);
    }

    &__value {
        position: relative;
        border: 1px solid var(--line-secondary);
        padding: var(--spacing-xs) var(--spacing-sm);
        padding-right: var(--spacing-xl);
        border-radius: var(--radius-xxs);
        transition: var(--transiton-general);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        .svg-icon {
            width: 28px;
            height: 28px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 3px;
        }
    }

    &--simple &__value {
        margin: 0;
        border-color: transparent;
        background: none;
    }
}

.app-custom-range {
    --range-color: 0%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 210px;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        background: linear-gradient(
            to right,
            var(--line-success) var(--range-color),
            var(--line-base) var(--range-color)
        );
        border-radius: 24px;
        height: 3px;
    }

    &::-moz-range-track {
        background: linear-gradient(
            to right,
            var(--line-success) var(--range-color),
            var(--line-base) var(--range-color)
        );
        border-radius: 24px;
        height: 3px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -8px;
        background-color: var(--bg-success);
        border-radius: 24px;
        height: 20px;
        width: 20px;
        transition: var(--transiton-general);
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -8px;
        background-color: var(--bg-success);
        border-radius: 24px;
        height: 20px;
        width: 20px;
        border: none;
    }

    &:focus::-webkit-slider-thumb {
        outline: none;
        transform: scale(1.2);
    }

    &:hover::-webkit-slider-thumb {
        outline: none;
        transform: scale(1.2);
    }

    &:focus::-moz-range-thumb {
        outline: none;
        transform: scale(1.2);
    }

    &:hover::-moz-range-thumb {
        outline: none;
        transform: scale(1.2);
    }
}

.app-custom-radio {
    display: inline-block;
    position: relative;
    flex: none;
    color: var(--line-base);
    margin-right: var(--spacing-sm);

    &__label {
        pointer-events: none;
        width: 24px;
        height: 24px;
        border: 1px solid currentColor;
        transition: var(--transiton-general);
        display: flex;
        align-items: center;
        justify-content: center;

        .svg-icon {
            transition: transform 0.2s ease-in-out;
            transform: scale(0);
        }
    }

    input[type='radio'],
    input[type='checkbox'] {
        cursor: pointer;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    input[type='radio'] + &__label {
        border-radius: 24px;

        .svg-icon {
            width: 12px;
            height: 12px;
        }
    }

    input[type='checkbox'] + &__label {
        border-radius: 4px;

        .svg-icon {
            width: 20px;
            height: 20px;
        }
    }

    input[type='radio']:checked + &__label,
    input[type='checkbox']:checked + &__label {
        color: var(--line-success);
        box-shadow: inset 0 0 0 1px currentColor;

        .svg-icon {
            transform: scale(1);
        }
    }

    input[type='radio']:focus-visible + &__label,
    input[type='checkbox']:focus-visible + &__label {
        color: var(--line-accent);
        box-shadow: inset 0 0 0 1px currentColor;
    }
}
