body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    background: var(--bg-body);
    min-width: var(--body-min-width);
}

* {
    box-sizing: border-box;
}

.app-wrapper {
    padding-top: 54px;
    padding-bottom: 192px;
}

[v-cloak] {
    display: none;
}

a:not([class]) {
    color: var(--text-link);

    &:hover,
    &:focus {
        color: var(--text-link-hover);
    }

    &:focus-visible {
        outline-offset: 2px;
        outline: 1px dashed currentColor;
    }
}

.font-base {
    font-family: 'Work Sans', sans-serif;
}

.font-secondary {
    font-family: 'Source Code Pro', monospace;
}
